.account-details {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;


    .container {
        display: flex;


        aside {
            border-right: 1px solid #E2E5F1;
            padding-right: 50px;
            margin-left: 300px;

            .profile-info {
                margin: 10px;
                text-align: center;
                width: 200px;

                h5 {
                    margin-top: 15px;
                    margin-bottom: 0;
                }

                img {
                    margin-top: 100px;
                    height: 200px;
                    justify-content: center;
                    border-radius: 50%;
                }
            }

            nav {
                margin-top: 50px;
                text-align: left;

                a {
                    margin: 10px 0;
                    text-align: left;
                    justify-content: flex-start;
                }
            }

            .btn-theme {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }

    .content {
        padding-left: 100px;
        display: grid;
        margin-top: 100px;
        width: 500px;

        form {
            .form-basic {
                .form-content{
                  margin-top: 30px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "firstname lastname" "email email" "password password" "confirmpassword confirmpassword" "terms terms" "signup signup";


                #form-firstname {
                    grid-area: firstname;
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirmpassword {
                    grid-area: confirmpassword;
                }

                #form-terms {
                    grid-area: terms;
                }

                #submit-signup {
                    grid-area: signup;
                }

                .input-sign-form {
                    .input-group {
                        display: flex;
                    }
                }
            }
                }
        }
    }
}
