@{
    var user = await UserManager.GetUserAsync(User);
}


<header>
    <div class="container">
        <a id="logo" class="logoNew" asp-controller="Home" asp-action="Index"><img src="~/images/others/siliconicon.svg"></a>
        <div id="menu">
            <nav>
                <a class="menu-link" asp-controller="Default" asp-action="Home" asp-fragment="_Showcase">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="_Features">Features</a>
               
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="menu-link" asp-controller="Account" asp-action="Details">Account details</a>
                }
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
             <input type="checkbox" id="switch-mode" />
             <div class="slider round"></div>

            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span> Sign up </span></a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-regular fa-user"></i><span> Sign out </span></a>
               <div class="profile">
                    <div class="profile-image">
                        <a asp-action="Details" asp-controller="Account">
                            <img src="~/images/uploads/profiles/@user?.ProfileImg" alt="@user?.FirstName @user?.LastName" />
                        </a>

                    </div>

               </div>
            }
            else
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-arrow-right-to-bracket"></i><span> Sign in </span></a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span> Sign up </span></a>
                
            }
            
        </div>
        <button class="btn-mobile">
            <i class="fa-regular fa-bars"></i>

        </button>
    </div>
</header>
