@model SignUpViewModel
@{
    ViewData["Title"]= "Sign up";
}

<section class="signup">
    <div class="container">


        @if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
        {
            <div class="alert alert-danger">
                @ViewData["StatusMessage"]
            </div>
        }
        <form method="post" asp-action="Signup" asp-controller="Auth"  novalidate>
            <h1>Create Account</h1>
            <p> Already have an account? <a asp-action="Signin" asp-controller="Auth">Sign in here</a></p>

            <div class="content">
                <div id="form-firstname" class="input-group">
                    <label asp-for="Form.FirstName"> </label>
                    <input asp-for="Form.FirstName" />
                    <span asp-validation-for="Form.FirstName"></span>
                </div>
                
                    <div id="form-lastname" class="input-group">
                        <label asp-for="Form.LastName"> </label>
                        <input asp-for="Form.LastName" />
                        <span asp-validation-for="Form.LastName"></span>
                    </div>
            
                <div id="form-email" class="input-group">
                    <label asp-for="Form.Email"> </label>
                    <input asp-for="Form.Email" />
                    <span asp-validation-for="Form.Email"></span>
                </div>

                <div id="form-password" class="input-group">
                    <label asp-for="Form.Password"> </label>
                    <input asp-for="Form.Password" />
                    <span asp-validation-for="Form.Password"></span>
                </div>
                        <div id="form-confirmpassword" class="input-group">
                            <label asp-for="Form.ConfirmPassword"> </label>
                            <input asp-for="Form.ConfirmPassword" />
                            <span asp-validation-for="Form.ConfirmPassword"></span>
                        </div>

                <div id="form-terms" class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="Form.TermsAndConditions" />
                        <label asp-for="Form.TermsAndConditions"></label>
                    </div>
                    <span asp-validation-for="Form.TermsAndConditions"></span>
                </div>
                <div class="sbm-button">

                    <button type="submit" class="btn btn-theme"><i class="fa-regular fa-arrow-left-to-bracket"></i>Sign up</button>

                </div>
            </div>


        </form>


    </div>




</section>

@await Html.PartialAsync("_ValidationScriptPartial")